<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h5></h5>
                <h4>Contact Us</h4>
                <h5>Questions? Concerns? Press requests?</h5>
                <a class="btn btn-default" href="mailto:kcwomenintech@gmail.com?Subject=CodingAndCupcakes" target="_blank">
                    Email us.</a>
                <a class="btn btn-default" href="https://www.facebook.com/codingandcupcakesKC" target="_blank">
                    Facebook us.</a>
                <a class="btn btn-default" href="https://www.twitter.com/codecupcakesKC" target="_blank">
                    Tweet us.</a>
            </div>
            <div class="col-md-5">
                    <a href="http://www.kcwomenintech.org" target="_blank" class="kcwit-logo">
                    </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Kansas City Women in Technology(KCWiT) is a grassroots organization aimed at growing the number of women in technology careers in the Kansas City area. They provide networking events and volunteer opportunities for members, and run programs targeted towards youth to encourage girls to pursue technology. </p>
            </div>
        </div>
    </div>
</section>