<section id="cupcakes">
    <div class="container">
        <div class="col-md-7">
        <a href="http://www.babycakeskc.com/" target="blank">
        	<div class="cupcake-logo"></div>
       	</a>
        <h5>Of all the local Kansas City cupcake shops, we just can't get enough of Babycakes in the Rivermarket. Flavors of strawberry, chocolate, vanilla, red velvet, and carrot cake are the perfect fuel for building websites.</h5>

        </div>
        <div class="col-md-5">
            <div class="cupcakes"></div>
        </div>
    </div>
</section>