<section id="press">
    <div class="container">
        <div class="col-md-qw">
            <h4>Press</h4>
            <ul>
                <li>
                    <b>Coding &amp; Cupcakes connects KC moms, daughters with programming</b> | July 21st, 2014
                    <br />
                    <a href="http://siliconprairienews.com/2014/07/coding-cupcakes-connects-kc-moms-daughters-with-programming/" target="_blank">Read on Silicon Prairie News »</a>
                </li>
                <li><b>CODING &amp; CUPCAKES</b> | March 2015
                    <br />
                    <a href="http://www.thisiskc.com/2015/03/coding-cupcakes/" target="_blank">Read on THIS IS KC »</a>
                </li>
                <li><b>Women In Tech Find Success In Kansas City</b> | March 25th, 2015
                    <br />
                    <a href="http://kcur.org/post/women-tech-find-success-kansas-city-1" target="_blank">Read/Listen on KCUR.org »</a>
                </li>
                <li><b>Coding and Cupcakes? Here’s Why We Need More Women in Tech</b> | April 9th, 2015
                    <br />
                    <a href="http://www.tlnt.com/2015/04/09/coding-and-cupcakes-heres-why-we-need-more-women-in-tech/" target="_blank">Read on TLNT »</a>
                </li>
                <li><b>Of Coding &amp; Cupcakes</b> | May 2015
                    <br />
                    <a href="http://www.435mag.com/May-2015/Of-Coding-and-Cupcakes/" target="_blank">
                        Read article in 435 Magazine »</a></li>
            </ul>

            <p><a href="mailto:kcwomenintech@gmail.com?Subject=Coding%20and%20Cupcakes">Inquiries?</a></p>
        </div>
    </div>
</section>